html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: $white;
  background: $black;
 font-family:
  /* English first */
  Arial,
  Helvetica,
  "Microsoft JhengHei",
  /* Chinese first */
  "PingFang TC",        /* mac */
  "Noto Sans TC",       /* Android / fallback Chinese */
  /* System fallback */
  sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  transition:
    color 0.5s,
    background-color 0.5s;
}

#app {
  
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
}
